<!DOCTYPE html>
<html>

	<head>
		<title>
			Signup Form</title>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link href="stylesheets/stylewelcome.css" rel="stylesheet" type="text/css">

	</head>


	<body>
		<div class="bgimg">
			<div class="topleft">
				<p>🌼</p>
			</div>
			<div class="middle">
				<h1>W E L C O M E
				</h1>
				<hr>
				<p><%= data['login'] %></p>
				<br>
				<br>

				<a href="something" class="button2">See the boutique?</a>
				<hr>
				<p class="or">or</p>
				<a href="something" class="button2">Nah, just wanna go back</a>

			</div>
			<div class="bottomleft"></div>
		</div>
	</body>

</html>
