body, html {
    height: 100%
  }
  
  .bgimg {
    /* Background image */
    background-image: url('/images/boutique.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }

    a{
      color: white;
    }

    a:hover{
      color: rgb(136, 149, 136);
      text-decoration: none;
    }

    input[type=submit] {
      background: transparent;
      border: none;
  }
  .middle-bout{
      color: black;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .black{
    background-color: black;
  }
  .product{
    color: black;
    font-size: 61%;
    text-align: -webkit-center;
    position: relative;
    top: 32%;
    
  }
  ul {
columns: 2;
  }
  ul li {
    list-style-type: none;
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }
  .btn-danger{
      color : #6f6b6b;
  }
  .btn-danger:hover{
      background-color: cadetblue;
  }